apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../base

namePrefix: prod-

labels:
- includeSelectors: true
  pairs:
    environment: prod

patches:
- path: deployment-patch.yaml
  target:
    kind: Deployment
    name: flask-app
