apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../base

namePrefix: dev-

labels:
- includeSelectors: true
  pairs:
    environment: dev

patches:
- path: deployment-patch.yaml
  target:
    kind: Deployment
    name: flask-app
- path: service-patch.yaml
  target:
    labelSelector: 'svc=flask-front'
